.hidden {
	display: none;
}

img, embed, object, video {
	max-width: 100%;
	height: auto;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.design1{
	position: fixed;
	transform: scaleX(-1);
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

body{
	font-family: 'Roboto', sans-serif;
	background-image: url(../images/background3.jpg);
}

.container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
}

.img{
	display: grid;
	justify-content: center;
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;

}

.img img{
	width: 100%;
}

.container-login {
	display: flex;
	align-items: center;
	text-align: center;
  	background-color: rgba(44, 91, 97, 0.800);
	width: 450px;
	padding-left: 50px;
	font-family: 'Roboto', sans-serif;
}

form {
	width: 360px;
}

.userIcon {
	width: 100px;
}
form h1 {
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color:rgb(91, 166, 95);
	font-family: 'Roboto', sans-serif;
}

form h2 {
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: black;
	font-family: 'Roboto', sans-serif;
}

form h4 {
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
	font-family: 'Roboto', sans-serif;
}

.div-input {
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.div-input.fName {
	margin-top: 0;
}

.div-input.lName {
	margin-bottom: 4px;
}

.div-input.user {
	margin-top: 0;

}

.div-input.pass {
	margin-bottom: 4px;

}

::placeholder {
	color: black;
	padding-left: 100px;
}

.i {
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	color: #525252;
}

.div-input > div{
	position: relative;
	height: 45px;
}

.input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: rgb(255, 255, 255);
	font-family: 'Roboto', sans-serif;
}

a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

a:hover{
	color: rgb(96, 166, 95);
}

.button{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 20px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #247065, #1f322b, #247065);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.button:hover{
	background-position: center;
}


@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 800px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 600px){
	.container{
		grid-template-columns: 1fr;
		/* background-color: rgb(16, 165, 108); */
		background-image: url(../images/mainLogo.svg);
		background-repeat: no-repeat;
	}


	.img{
		display: none;
	}

	.design1{
		display: none;
	}

	.login-content{
		justify-content: center;
	}

	a{
		display: block;
		text-align: center;
		text-decoration: none;
		color: rgb(0, 0, 0);
	}
}